.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh; /* 2/5 of the viewport height */
  background: url('../public/bg-code.png') no-repeat center center;
  background-size: cover;
  color: #ffffff; /* Typical hacker green font color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: top 0.5s; /* Smooth transition for disappearing effect */
  z-index: 1000;
}

.header.hidden {
  top: -40vh; /* Move header out of view */
}

.profileImg {
  border-radius: 50%;
  border: 2px solid #0d0d0d;
  margin-bottom: 10px;
}

.header h1, .header p, .socialLinks {
  margin: 0;
  z-index: 2;
  position: relative;
}

.socialLinks a {
  color: #6b80ea;
  text-decoration: none;
  margin: 0 5px;
}

.socialLinks a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 40vh; /* Push content down to start below the header */
  padding: 20px;
}