/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #020101; /* Dark background */
  color: #ffffff; /* Off-white font color */
  position: relative; /* Ensure stacking context */
  padding: 2rem; /* Adjust to avoid overlap with the background image */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh; /* 2/5 of the viewport height */
  background: url('../public/bg-image.jpeg') no-repeat center center;
  background-size: cover;
  z-index: 1; /* Ensure it's behind other content */
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  position: relative; /* Ensure stacking context */
  z-index: 2; /* Above the background image */
}

.profileImg {
  border-radius: 70%;
  border: 2px solid #0d0d0d;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 2rem; /* Adjust font size for desktop */
}

.header p {
  font-size: 1rem; /* Adjust font size for desktop */
}

.article p {
  margin: 0.5rem 0;
  z-index: 2; /* Above the background image */
}

.article div {
  margin-top: 1rem;
}

.articleContent img {
  max-width: 100%;
  height: auto;
}

.date {
  color: green;
  font-size: 0.8rem;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .container {
    padding: 2rem; /* Adjust to avoid overlap with the background image */
  }

  .header h1 {
    font-size: 1.5rem; /* Adjust font size for mobile devices */
  }

  .header p {
    font-size: 0.8rem; /* Adjust font size for mobile devices */
  }

}